body {
  background-color: #e0f2ff;
  font-family: "Montserrat Alternates", sans-serif;
}

.weather-app-box {
  background: white;
  max-width: 650px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(32, 32, 35 0.5);
  border-radius: 16px;
  padding: 30px;
}

.date-emoji-temperature {
  padding-bottom: 50px;
}

.date-today {
  font-size: 20px;
  position: relative;
  top: 80px;
}

.emoji-temperature-degree {
  font-weight: 900;
  border-bottom: 1px solid white;
  display: flex;
}

.emoji {
  position: relative;
  left: 270px;
  width: 200px;
}

.temperature {
  font-size: 80px;
  position: relative;
  left: 280px;
}

.degree {
  font-size: 80px;
  position: relative;
  left: 280px;
}

.search-form-input {
  background-color: #e0f2ff;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  width: 79%;
  padding: 10px 25px;
}

.search-form-button {
  background: #00b3fb;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  width: 20%;
  color: white;
}

h1 {
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0px;
}

p {
  text-align: center;
}

strong {
  color: #00b3fb;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  text-align: center;
}

.icon {
  margin-top: 0px;
  padding-top: 0px;
  width: 90px;
}

.weather-forecast-condition {
  color: #00b3fb;
  font-weight: bolder;
}

footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  margin-bottom: 30px;
}

a {
  color: #00b3fb;
}
